@import "./css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  --bs-body-font-family: "JetBrains Mono", monospace;
}

nav {
  font-weight: 700;
  background-color: #77942e;
}

.nav-link {
  border-bottom: 0.1rem solid var(--bs-body-color);
  border-color: var(--bs-nav-link-color);
}

.display-2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.display-2__intro {
  display: inline-block;
  font-weight: 700;
}

.display-2__description {
  font-size: 1rem;
  display: block;
  margin-top: 1.2rem;
  text-transform: none;
}

section {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  padding-top: 5rem;
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
}

#home,
#projects {
  background-color: #616161;
}

.card {
  margin: 0 auto;
  width: 40%;
}

#projects .col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  position: relative;
  width: 90%;
  height: 100%;
}

.image img {
  max-width: 100%;
  display: block;
  height: 100%;
  border-radius: 0.3rem;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 0.3rem;

  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;

  display: none;

  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(0.05rem);
}

.image__overlay > * {
  transform: translateY(0.8rem);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__description {
  font-size: 0.8rem;
  padding: 0 1rem;
  margin: 0;
}

.project-links {
  width: 100%;
  margin-top: 0.5rem;
}

.project-links .project-links--mobile {
  display: block;
  color: var(--bs-body-color);
}

.project-links__logos a {
  text-decoration: none;
}

.project-links__logos a:first-child {
  margin-right: 1rem;
}

/*  For images for projects to scale correctly*/
.project-links__logos img {
  display: block;
  max-width: 100%;
}

.project-links__logos {
  display: none;
}

@media (min-width: 768px) {
  .nav-link {
    border-bottom: 0.1rem solid transparent;
  }

  .nav-link:hover,
  .nav-link:active {
    border-bottom: 0.1rem solid var(--bs-body-color);
  }

  .display-2 {
    text-align: var(--bs-body-text-align);
  }

  .display-2__description {
    display: inline-block;
  }

  .project-links .project-links--mobile {
    display: none;
  }

  .project-links__logos {
    display: flex;
    justify-content: center;
  }

  .image {
    width: 85%;
  }

  .image__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .image .project-links__logos {
    display: none;
  }
}

@media (min-width: 992px) {
  .display-2__intro {
    font-size: 3.5rem;
  }

  .display-2__description {
    font-size: 1.5rem;
  }

  .project-links .project-links__logos {
    display: none;
  }

  .image .project-links__logos {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
  }
}
