@import "./css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  --bs-body-font-family: "JetBrains Mono", monospace;
}

nav {
  font-weight: 700;
  background-color: #77942e;
}

.nav-link {
  border-bottom: 0.1rem solid var(--bs-body-color);
  border-color: var(--bs-nav-link-color);
}

.display-2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.display-2__intro {
  display: inline-block;
  font-weight: 700;
}

.display-2__description {
  font-size: 1rem;
  display: block;
  margin-top: 1.2rem;
  text-transform: none;
}

section {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  padding: 5rem 0;
  display: flex;
  align-items: center;
}

#home,
#projects {
  background-color: #616161;
}

.card {
  margin: 0 auto;
  width: 40%;
}

#projects img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .nav-link {
    border-bottom: 0.1rem solid transparent;
  }

  .nav-link:hover,
  .nav-link:active {
    border-bottom: 0.1rem solid var(--bs-body-color);
  }

  .display-2 {
    text-align: var(--bs-body-text-align);
  }

  .display-2__description {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .display-2__intro {
    font-size: 3.5rem;
  }

  .display-2__description {
    font-size: 1.5rem;
  }

  #projects img {
    width: 95%;
  }
}
